@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image:url('http://exchangechennai.in/img/bg-pattern.png');
}

footer {
	clear:both;
}

#interview-pic {
	float:left;
}

#interview-form {
	float:right;
}

#ep_interested_form {
}

#homepage_buttons a {
	width:150px;
}

hr
{
color: black;
background-color: black;
height: 3px;
}

@import "bootstrap/responsive.less";




/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */











